@import "../../../base/core/mixins";
//
//*****************************************************************************
// b-logo
//*****************************************************************************
//
//
@include block(b-logo) {
  @include element(item) {
    @include text-hide();
    display: block;
    width: 150px;
    height: 25px;
    background: url('../img/logo.svg') 0 0 no-repeat;
    background-size: contain;
  }
  //mod - black
  @include modifier(black) {
    @include element(item) {
      background: url('../img/logo--black.svg') 0 0 no-repeat;
      background-size: contain;
    }
  }
}
