@import "../../../base/core/mixins";
//
//*****************************************************************************
// b-categories
// components: c-aside-title
//*****************************************************************************
//
//
@include block(b-categories) {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 45px;
    background-color: #fff;
    @include mix(title, c-aside-title) {
        margin-bottom: 20px;
    }
    @include element(items) {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    @include element(item) {}
    @include element(link) {
        display: 100px;
        font-size: 14px;
        color: #000000;
        letter-spacing: -0.14px;
        text-decoration: none;
    }
    // media queries
    @include media-breakpoint-only(xs) {
        & {}
    }
    @include media-breakpoint-only(sm) {
        & {}
    }
    @include media-breakpoint-only(md) {
        & {}
    }
    @include media-breakpoint-only(lg) {
        & {}
    }
    @include media-breakpoint-only(xl) {
        & {}
    }
}
