@import "../../../base/core/mixins";
//
//*****************************************************************************
// b-facebook-widget
// components: c-aside-title
//*****************************************************************************
//
//
@include block(b-facebook-widget) {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #fff;
}
