@import "../../../base/core/mixins";
//
//*****************************************************************************
// b-audio
//*****************************************************************************
//
//
@include block(b-audio) {
  width: 100%;
  @include element(iframe) {
    width: 100%;
    height: 250px;
  }
  @include modifier(grid) {
    @include element(iframe) {
      height: 550px;
    }
  }
  // media queries
  @include media-breakpoint-down(md) {
    @include modifier(grid) {
      @include element(iframe) {
        height: 250px;
      }
    }
  }
}
