@import "../../../base/core/mixins";
//
//*****************************************************************************
// b-slider
//*****************************************************************************
//
//
@include block(b-slider) {
    position: relative;
    width: 100%;
    @include element(items) {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    @include element(item) {
        display: block;
        text-align: center;
        height: 670px;
        line-height: 670px;
        background-size: cover;
        background-position: 50% 50%;
    }
    @include element(item-text) {
        display: inline-block;
        vertical-align: middle;
        max-width: 780px;
        font-weight: 100;
        font-size: 44px;
        color: #FFFFFF;
        letter-spacing: -0.42px;
        line-height: 59px;
    }
    @include element(image) {
        display: block;
        width: 100%;
        height: auto;
    }
    @include element(prev) {
        @include text-hide();
        transition: 0.2s all;
        display: block;
        width: 48px;
        height: 76px;
        border: 1px solid transparent;
        background: url('../img/controls_arrow.svg') 50% 50% no-repeat;
        background-size: 16px 40px;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        left: 50px;
        cursor: pointer;
        z-index: 53;
        &:hover {
            transition: 0.2s all;
            border: 1px solid #fff;
            border-radius: 3px;
        }
    }
    @include element(next) {
        @include text-hide();
        transition: 0.2s all;
        transform: rotate(180deg);
        display: block;
        width: 48px;
        height: 76px;
        border: 1px solid transparent;
        background: url('../img/controls_arrow.svg') 50% 50% no-repeat;
        background-size: 16px 40px;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        right: 50px;
        cursor: pointer;
        z-index: 53;
        &:hover {
            transition: 0.2s all;
            border: 1px solid #fff;
            border-radius: 3px;
        }
    }
    @include modifier(article) {
        @include element(item) {
            max-height: 500px;
        }
    }
    // media queries
    @include media-breakpoint-only(xs) {
        & {}
    }
    @include media-breakpoint-only(sm) {
        & {}
    }
    @include media-breakpoint-only(md) {
        & {}
    }
    @include media-breakpoint-only(lg) {
        & {}
    }
    @include media-breakpoint-only(xl) {
        & {}
    }
}
