@import "../../../base/core/mixins";
//
//*****************************************************************************
// b-back-to-top
//*****************************************************************************
//
//
@include block(b-back-to-top) {
	@include text-hide();
	transition: background-color 0.2s ease-out;
	display: block;
	width: 50px;
	height: 50px;
	border: none;
	background: #000 url('../img/top-arrow--white.svg') 50% 50% no-repeat;
	background-size: 12px 8px;
	&:hover {
		transition: background-color 0.2s ease-out;
		background: #fff url('../img/top-arrow--black.svg') 50% 50% no-repeat;
		background-size: 12px 8px;
	}
    // media queries
    @include media-breakpoint-only(xs) {
        & {}
    }
    @include media-breakpoint-only(sm) {
        & {}
    }
    @include media-breakpoint-only(md) {
        & {}
    }
    @include media-breakpoint-only(lg) {
        & {}
    }
    @include media-breakpoint-only(xl) {
        & {}
    }
}
