@import "../../../base/core/mixins";
//
//*****************************************************************************
// b-linked-article
//*****************************************************************************
//
//
@include block(b-linked-article) {
  @include gradient-y(#282A3C, #28354F);
  position: relative;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.50);
  width: 100%;
  padding: 58px 28px 10px 28px;
  &:before {
    content: ' ';
    display: block;
    width: 36px;
    height: 36px;
    background: url('../img/linked-symbol.svg') 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    top: 22.23px;
    left: 50%;
    margin-left: -18px;
  }
  @include element(title) {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    max-width: 693px;
    margin: 0 auto;
  }
  @include element(author) {
    display: block;
    font-weight: 100;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    max-width: 693px;
    margin: 0 auto;
    margin-top: 12px;
  }
  @include element(meta) {
  }
  @include media-breakpoint-only(xs) {
    & {
    }
  }
  @include media-breakpoint-only(sm) {
    & {
    }
  }
  @include media-breakpoint-only(md) {
    & {
    }
  }
  @include media-breakpoint-only(lg) {
    & {
    }
  }
  @include media-breakpoint-only(xl) {
    & {
    }
  }
}
