@import "../../../../base/core/mixins";
//
//*****************************************************************************
// c-banner
//*****************************************************************************
//
//
@include block(c-banner) {
  @include element(thumbnail) {
    display: block;
    width: 100%;
    max-height: 500px;
  }
  @include media-breakpoint-only(xs) {
    & {
    }
  }
  @include media-breakpoint-only(sm) {
    & {
    }
  }
  @include media-breakpoint-only(md) {
    & {
    }
  }
  @include media-breakpoint-only(lg) {
    & {
    }
  }
  @include media-breakpoint-only(xl) {
    & {
    }
  }
}
