@import "../../../base/core/mixins";
//
//*****************************************************************************
// b-about-me
// components: c-aside-title, c-portrait
//*****************************************************************************
//
//
@include block(b-about-me) {
  width: 100%;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #fff;
  @include mix(c-aside-title, title) {
    margin-top: 0;
    margin-bottom: 25px;
  }
  @include mix(c-portrait, portrait) {
    margin-bottom: 15px;
  }
  @include element(content) {
    font-weight: 100;
    font-size: 14px;
    color: #000000;
    letter-spacing: -0.14px;
    max-width: 250px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}
