@import "../../../base/core/mixins";
//
//*****************************************************************************
// l-three-columns
//*****************************************************************************
//
//
@include block(l-main) {
  @include element(inner) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 30px;
  }
  @include element(content) {
    max-width: 750px;
    margin-right: 30px;
  }
  @include element(content-item) {
    margin-bottom: 30px;
    @include mix(b-pagination) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
  @include element(sidebar) {
    width: 300px;
  }
  @include element(sidebar-item) {
    margin-bottom: 45px;
  }
  // full width
  @include modifier(full-width) {
    @include element(inner) {
      display: block;
    }
    @include element(content) {
      width: 100%;
    }
    @include element(sidebar) {
      @include make-row();
      width: auto;
    }
    @include element(sidebar-item) {
      @include make-col(4);
      @include make-col-ready(30px);
    }
  }
  // media queries
  @include media-breakpoint-down(md) {
    @include element(inner) {
      @include modifier(no-top-margin-mb) {
        margin-top: 0;
      }
    }
    @include element(inner) {
      flex-flow: column nowrap;
      margin-left: -15px;
      margin-right: -15px;
    }
    @include element(content) {
      max-width: none;
      margin-right: 0;
    }
    @include element(sidebar) {
      width: 100%;
    }
    @include element(sidebar-item) {
      @include mix(b-categories) {
        display: none;
      }
      @include mix(b-banner-spot) {
        width: auto;
        max-width: none;
      }
    }
    // full width
    @include modifier(full-width) {
      @include element(inner) {
        display: block;
      }
      @include element(content) {
        width: 100%;
      }
      @include element(sidebar) {
        @include make-row();
        width: auto;
        margin-left: 0;
        margin-right: 0;
      }
      @include element(sidebar-item) {
        @include make-col(12);
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
