@import "../../../base/core/mixins";
//
//*****************************************************************************
// l-header
//*****************************************************************************
//
//
@include block(l-header) {
    @include element(top) {
        position: relative;
        background-color: #2A2A2A;
        .container {
            height: 60px;
            position: relative;
        }
    }
    @include element(top-item) {
        @include mix(b-logo) {
            position: absolute;
            top: 19px;
            left: 15px;
        }
        @include mix(b-main-menu) {
            position: absolute;
            top: 0;
            right: 15px;
        }
        @include mix(b-search) {
            display: none;
            position: relative;
            z-index: $zindex-navbar-fixed;
        }
    }
    // media queries
    @include media-breakpoint-down(md) {
        @include element(top-item) {
            @include mix(b-logo) {
                left: 50%;
                margin-left: -75px;
            }
            @include mix(b-main-menu) {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 15px;
                left: 15px;
            }
        }
        
    }
}
