@import "../../../base/core/mixins";
//
//*****************************************************************************
// b-article
// components: c-text, c-breadcrumbs, c-tags, c-share-on, b-slider
//*****************************************************************************
//
//
@include block(b-article) {
  @include element(bottom) {
    padding: 20px 20px 0 20px;
  }
  @include element(title) {
    transition: 0.2s all;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    letter-spacing: -0.23px;
    margin-top: 0;
    margin-bottom: 0;
    &:hover {
      transition: 0.2s all;
      color: #0088CC;
    }
  }
  @include element(title-link) {
    transition: 0.2s all;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    letter-spacing: -0.23px;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    &:hover {
      transition: 0.2s all;
      color: #0088CC;
    }
  }
  @include element(meta) {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #999191;
    letter-spacing: -0.1px;
  }
  @include element(content) {
    margin-bottom: 20px;
  }
  @include mix(c-text, text) {
    font-weight: 100;
  }
  @include element(share-on) {
    float: right;
    margin-left: 30px;
  }
  @include media-breakpoint-only(lg) {
    @include modifier(grid) {
      @include element(breadcrumbs) {
        text-align: center;
      }
      @include element(bottom) {
        padding: 7px 7px 0;
      }
      @include element(title) {
        text-align: center;
        &:hover {
        }
      }
      @include element(title-link) {
        text-align: center;
        &:hover {
        }
      }
      @include element(meta) {
        text-align: center;
      }
      @include element(content) {
        margin-bottom: 10px;
      }
      @include mix(c-text, text) {
        margin-top: 5px;
        height: 60px;
        overflow: hidden;
        margin-bottom: 7px;
        p {
          margin: 0;
        }
      }
      @include element(share-on) {
        position: relative;
        float: none;
        margin-left: 0;
      }
      @include element(tags) {
        text-align: center;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    // grid
    @include modifier(grid) {
      @include element(bottom) {
        position: relative;
        padding: 14px 7px 0;
      }
      @include element(content) {
        max-width: 180px;
        height: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      @include element(share-on) {
        position: absolute;
        top: 14px;
        right: 7px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    @include element(title) {
      text-align: center;
    }
    @include element(meta) {
      text-align: center;
    }
    @include element(content) {
      flex-flow: column nowrap;
      align-items: center;
    }
    @include mix(c-text, text) {
      padding-right: 0;
    }
    @include element(share-on) {
      float: none;
      margin-left: 0;
    }

  }
}
